*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-size: 1.8rem;
  line-height: 1.6;
  overflow-x: hidden; }

@media only screen and (max-width: 767px) {
  .container {
    padding: 10rem 0 !important; } }

.heading {
  font-family: "Montserrat", sans-seri;
  text-transform: capitalize; }
  .heading-1 {
    font-size: 3.5rem; }
    @media only screen and (max-width: 900px) {
      .heading-1 {
        font-size: 3rem; } }
  .heading-2 {
    font-size: 3.2rem; }
    @media only screen and (max-width: 900px) {
      .heading-2 {
        font-size: 2.8rem; } }
  .heading-3 {
    font-size: 3rem; }
    @media only screen and (max-width: 900px) {
      .heading-3 {
        font-size: 2.4rem; } }
  .heading-4 {
    font-size: 2.5rem; }
    @media only screen and (max-width: 900px) {
      .heading-4 {
        font-size: 2rem; } }
  .heading-white {
    color: #fff; }
    @media only screen and (max-width: 900px) {
      .heading-white {
        color: #000; } }

.paragraph {
  font-family: "Montserrat", sans-seri;
  color: rgba(39, 59, 95, 0.8); }
  @media only screen and (max-width: 767px) {
    .paragraph {
      text-align: center; } }
  .paragraph-lg {
    font-size: 1.8rem; }
    @media only screen and (max-width: 800px) {
      .paragraph-lg {
        font-size: 1.6rem; } }
  .paragraph-md {
    font-size: 1.5rem; }
    @media only screen and (max-width: 800px) {
      .paragraph-md {
        font-size: 1.2rem; } }
  .paragraph-sm {
    font-size: 1.1rem;
    font-weight: 500; }
    @media only screen and (max-width: 800px) {
      .paragraph-sm {
        font-size: 1rem; } }

.link, .link:visited, .link:link {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 1.6rem;
  font-family: "Montserrat", sans-seri;
  display: inline-block;
  padding: 1rem 1.5rem;
  transition: all 0.5s ease;
  border-radius: 1rem; }

.link__primary {
  color: #273b5f;
  border: 1px solid transparent; }
  .link__primary:hover {
    border: 1px solid #377dff;
    color: #fff;
    background-color: #377dff; }

.link__secondary {
  color: #377dff;
  border: 2px solid rgba(55, 125, 255, 0.8); }
  .link__secondary:hover {
    border: 2px solid #377dff;
    color: #fff;
    background-color: #377dff; }

.link__title {
  padding: 0.2rem 0.5rem !important;
  color: #377dff;
  background-color: rgba(55, 125, 255, 0.3);
  position: absolute;
  border-radius: 10rem !important;
  font-size: 0.8rem !important;
  top: 5rem;
  text-transform: uppercase !important; }
  .link__title-left {
    left: 0; }
    @media only screen and (max-width: 767px) {
      .link__title-left {
        left: 50%;
        transform: translateX(-50%); } }
  .link__title-right {
    right: 10rem; }
    @media only screen and (max-width: 767px) {
      .link__title-right {
        right: 40%;
        transform: translateX(-50%); } }
  .link__title-center {
    left: 50%;
    transform: translateX(-50%); }

.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .form__form {
    width: 50%; }
  .form__group {
    width: 100%;
    height: 5rem;
    display: flex;
    position: relative; }
    .form__group:not(:last-child) {
      margin-bottom: 1rem; }
    .form__group--check {
      display: flex;
      align-items: center; }
  .form__input {
    width: 100%;
    border: 0;
    padding-left: 1rem;
    font-size: 2rem;
    font-family: "Montserrat", sans-seri;
    color: #377dff;
    background-color: #e8effc;
    border-radius: 0.3rem; }
    .form__input:focus {
      outline: 0; }
  .form__input:focus + .form__label,
  .form__input:valid + .form__label {
    font-size: 1.3rem;
    top: 0;
    color: #273b5f; }
  .form__label {
    position: absolute;
    font-size: 1.6rem;
    color: #377dff;
    font-size: 2rem;
    font-family: "Montserrat", sans-seri;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    transition: all 0.5s; }
  .form__input--checkbox {
    display: none; }
    .form__input--checkbox:checked + .myCheck::after {
      transform: scale(1); }
  .form__label--checkbox {
    font-size: 2rem;
    font-family: "Montserrat", sans-seri;
    color: #273b5f;
    margin-left: 1rem;
    cursor: pointer; }
  .form__btn {
    margin-top: 2rem;
    border: none;
    background-color: #377dff;
    width: 100%;
    color: #fff;
    padding: 1rem 3rem;
    display: block;
    border-radius: 0.6rem;
    transition: all 0.3s;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.5); }
    .form__btn:focus {
      outline: none; }
    .form__btn:hover {
      transform: translateY(-1rem); }
    .form__btn:focus {
      transform: translateY(-0.5rem); }

.myCheck {
  width: 2rem;
  height: 2rem;
  border-radius: 0.5rem;
  border: 1px solid #273b5f;
  position: relative;
  padding: 0.1rem;
  overflow: hidden; }
  .myCheck::after {
    content: "\2713";
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #377dff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0);
    border-radius: 1px; }

.pageController:link, .pageController:visited {
  text-decoration: none;
  position: absolute;
  top: 2rem;
  transition: all 0.2s; }

.pageController:hover i {
  color: #273b5f;
  transform: rotate(360deg); }

.pageController i {
  font-size: 4rem;
  cursor: pointer;
  transition: all 0.2s; }

.pageController__close {
  left: 15rem; }

.pageController__back {
  right: 15rem; }

.features {
  min-height: 100vh; }
  .features__content {
    position: relative; }
    .features__content::after {
      content: "";
      width: 100%;
      height: 35%;
      position: absolute;
      top: 15%;
      left: 0;
      background: url(../../img/Rectangle1.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: -1; }
      @media only screen and (max-width: 900px) {
        .features__content::after {
          opacity: 0;
          visibility: hidden; } }
    @media only screen and (max-width: 767px) {
      .features__content {
        text-align: center; } }
    @media only screen and (max-width: 767px) {
      .features__content--img {
        order: -1; } }
  .features__card--box {
    padding: 5rem;
    position: relative; }
    .features__card--box .card {
      height: 10rem;
      background-color: #fff;
      position: relative;
      border: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
      border-radius: 1rem; }
      @media only screen and (max-width: 767px) {
        .features__card--box .card {
          order: -1; } }
    .features__card--box img {
      width: 100%;
      position: absolute;
      top: -5rem; }
  .features__statistics {
    width: 70%; }
    .features__statistics--item {
      padding: 1rem; }
    .features__statistics--value {
      font-family: "Montserrat", sans-seri;
      font-size: 3.5rem;
      font-weight: 600;
      color: #377dff; }
    .features__statistics--name {
      font-weight: 600; }
  .features__social {
    flex-wrap: wrap;
    justify-content: space-between; }
    .features__social--item {
      width: 45%;
      padding: 1rem;
      background: linear-gradient(to right, #eeee, #eeee, #eeee, #ffff);
      backdrop-filter: blur(5px);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
      border-radius: 1rem;
      transition: all 0.2s;
      margin: 0.5rem;
      cursor: pointer;
      position: relative;
      overflow: hidden; }
      .features__social--item::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #377dff;
        z-index: -1;
        opacity: 0;
        transition: all 0.3s; }
      .features__social--item span {
        transition: all 0.1s;
        display: inline-block;
        margin-top: -1rem;
        font-size: 2.5rem;
        margin-left: 0.5rem; }
      .features__social--item i {
        font-size: 3rem;
        transition: all 0.2s; }
      .features__social--item:hover {
        color: #fff; }
        .features__social--item:hover i {
          color: #fff; }
        .features__social--item:hover::after {
          opacity: 1; }
  @media only screen and (max-width: 767px) {
    .features__info {
      padding: 1rem 5rem; } }
  .features__info--item {
    padding-right: 10rem; }
    @media only screen and (max-width: 767px) {
      .features__info--item {
        text-align: center;
        padding: 0; } }
  .features__info--icon i {
    font-size: 4rem;
    margin-right: 2rem;
    color: #377dff; }

.footer {
  background-color: #f6f9ff;
  z-index: -2; }
  .footer__social--item {
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.2s; }
    .footer__social--item:not(:last-child) {
      margin-right: 1rem; }
    .footer__social--item i {
      transition: all 0.5s 0.1s; }
    .footer__social--item:hover {
      background-color: #377dff; }
      .footer__social--item:hover i {
        color: #fff;
        transform: rotate(360deg); }

.copy {
  font-size: 1.3rem;
  color: rgba(39, 59, 95, 0.5); }

.header {
  position: relative; }
  .header__navbar {
    min-height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center; }
  @media only screen and (max-width: 800px) {
    .header__items {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .header__items label {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 2rem;
        right: 4rem;
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        background-color: #377dff;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        z-index: 10; } }
    @media only screen and (max-width: 800px) and (max-width: 800px) {
      .header__items label {
        opacity: 1;
        visibility: visible; } }
  @media only screen and (max-width: 800px) {
      .header__items .humber {
        width: 2.1rem;
        height: 2px;
        background-color: #000;
        position: relative;
        display: block;
        transition: all 0.1s 0.2s; }
        .header__items .humber::after {
          content: "";
          display: block;
          width: 2.1rem;
          height: 2px;
          background-color: #000;
          position: absolute;
          left: 0;
          top: -0.6rem;
          transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
        .header__items .humber::before {
          content: "";
          display: block;
          width: 2.1rem;
          height: 2px;
          background-color: #000;
          position: absolute;
          left: 0;
          top: 0.6rem;
          transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
      .header__items .input-humber:checked ~ .header__nav {
        opacity: 1;
        visibility: visible; }
      .header__items .input-humber:checked + label::before {
        transform: scale(80); }
      .header__items .input-humber:checked + label .humber {
        background-color: transparent;
        transition: all 0.5s; }
        .header__items .input-humber:checked + label .humber::after {
          transform: rotate(-135deg);
          top: 0; }
        .header__items .input-humber:checked + label .humber::before {
          transform: rotate(135deg);
          top: 0; } }
  .header__nav {
    transition: all 0.5s; }
    @media only screen and (max-width: 800px) {
      .header__nav {
        opacity: 0;
        visibility: hidden; } }
  .header__list {
    transition: all 1s; }
    @media only screen and (max-width: 800px) {
      .header__list {
        background-color: #377dff;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; } }
  .header__item {
    z-index: 10; }
  .header__logo {
    border-radius: 10rem;
    position: relative;
    width: 25rem;
    max-width: 25rem;
    text-align: center;
    color: #fff; }
    .header__logo::before {
      content: "";
      width: 105%;
      height: 20rem;
      background-color: #377dff;
      position: absolute;
      bottom: 0%;
      left: 0%;
      border-radius: 7rem;
      z-index: -1; }
  .header__list {
    list-style: none; }
  .header__item:not(:last-child) {
    margin-right: 0.5rem; }
  .header__link:hover {
    border: 1px solid #377dff;
    color: #fff;
    background-color: #377dff; }

.hero {
  min-height: 100vh;
  padding: 15rem 0; }
  @media only screen and (max-width: 767px) {
    .hero {
      text-align: center;
      padding: 15rem 0 5rem; } }
  .hero__card--box {
    margin: 1rem 0; }
  .hero__btn {
    display: flex;
    width: 70%; }
    @media only screen and (max-width: 767px) {
      .hero__btn {
        justify-content: center; } }
    .hero__btn .link:not(:last-child) {
      margin-right: 1rem; }
  .hero__container::after {
    content: "";
    width: 100%;
    height: 35%;
    position: absolute;
    top: 15%;
    left: 0;
    background: url(../../img/Rectangle1.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1; }
    @media only screen and (max-width: 900px) {
      .hero__container::after {
        opacity: 0;
        visibility: hidden; } }
  .hero__content {
    position: relative; }
  .hero__card--box {
    padding: 1rem;
    min-height: 15rem; }
  .hero__cards::after {
    content: "";
    width: 100%;
    height: 25%;
    position: absolute;
    bottom: 0;
    right: -2rem;
    background: url(../../img/Rectangle30.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    z-index: -1; }
    @media only screen and (max-width: 900px) {
      .hero__cards::after {
        opacity: 0;
        visibility: hidden; } }
  .hero .card {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    height: 20rem;
    border: none;
    border-radius: 1rem; }
    .hero .card:hover {
      transform: skew(-2deg) translateY(-1rem); }
    .hero .card__img {
      width: 7rem; }

.partners {
  min-height: 50vh; }
  .partners__brands {
    background-image: linear-gradient(to right, #fff, rgba(55, 125, 255, 0.1), rgba(55, 125, 255, 0.2), rgba(55, 125, 255, 0.1), #fff); }
  .partners__brand {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 1rem 0; }
    .partners__brand img {
      width: 8rem; }

.QA {
  min-height: 100vh; }
  @media only screen and (max-width: 767px) {
    .QA {
      text-align: center; } }
  .QA__icon img {
    width: 3.5rem; }
  .QA__item {
    padding: 0 2rem; }

.signin {
  min-height: 100vh; }
  @media only screen and (max-width: 767px) {
    .signin__content--img {
      order: -1; } }
  .signin__card--box {
    padding: 5rem;
    position: relative; }
  .signin__card {
    min-height: 40rem;
    background-color: #fff;
    position: relative;
    border: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    border-radius: 1rem; }
  .signin__img {
    width: 100%;
    height: 110%;
    position: absolute;
    top: -4rem; }
