// FONTS
$montserrat: 'Montserrat', sans-seri;

// COLORS
$white: #fff;
$dark: #000;

$colorPrimary: #377dff;
$colorPrimary-light: #f6f9ff;
$colorPrimary-light2: #e8effc;

$darkmode: #2d2f33;

$ligthBlack: #273b5f;
