.header {
  position: relative;

  &__navbar {
    min-height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: rgba($white, 0.8);
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__items {
    @media only screen and (max-width: 800px) {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;

      label {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 2rem;
        right: 4rem;
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        background-color: $colorPrimary;
        border-radius: 50%;
        opacity: 0;
        visibility: hidden;
        z-index: 10;

        @media only screen and (max-width: 800px) {
          opacity: 1;
          visibility: visible;
        }
      }

      .humber {
        width: 2.1rem;
        height: 2px;
        background-color: #000;
        position: relative;
        display: block;
        transition: all 0.1s 0.2s;

        &::after {
          content: "";
          display: block;
          width: 2.1rem;
          height: 2px;
          background-color: #000;
          position: absolute;
          left: 0;
          top: -0.6rem;
          transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }
        &::before {
          content: "";
          display: block;
          width: 2.1rem;
          height: 2px;
          background-color: #000;
          position: absolute;
          left: 0;
          top: 0.6rem;
          transition: all 0.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
        }
      }

      .input-humber:checked ~ .header__nav {
        .header__list {
          opacity: 1;
          visibility: visible;
        }
      }

      .input-humber:checked + label {
        &::before {
          transform: scale(80);
        }
        .humber {
          background-color: transparent;
          transition: all 0.5s;

          &::after {
            transform: rotate(-135deg);
            top: 0;
          }

          &::before {
            transform: rotate(135deg);
            top: 0;
          }
        }
      }
    }

    &__nav {
    }
  }

  &__list {
    transition: all 1s;
    @media only screen and (max-width: 800px) {
      background-color: $colorPrimary;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      opacity: 0;
      visibility: hidden;
    }
  }

  &__item {
    z-index: 10;
  }

  &__logo {
    border-radius: 10rem;
    position: relative;
    width: 25rem;
    max-width: 25rem;
    text-align: center;
    color: $white;

    &::before {
      content: "";
      width: 105%;
      height: 20rem;
      background-color: $colorPrimary;
      position: absolute;
      bottom: 0%;
      left: 0%;
      border-radius: 7rem;
      z-index: -1;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }

  &__link {
    &:hover {
      border: 1px solid $colorPrimary;
      color: $white;
      background-color: $colorPrimary;
    }
  }
}

.hero {
  min-height: 100vh;
  padding: 15rem 0;

  @media only screen and (max-width: 767px) {
    text-align: center;
    padding: 15rem 0 5rem;
  }

  &__card--box {
    margin: 1rem 0;
  }

  &__btn {
    display: flex;
    width: 70%;

    @media only screen and (max-width: 767px) {
      justify-content: center;
    }

    .link {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__content {
    position: relative;
    @include bgTop;
  }

  &__card--box {
    padding: 1rem;
  }

  &__cards {
    &::after {
      content: "";
      width: 100%;
      height: 25%;
      position: absolute;
      bottom: 0;
      right: -2rem;
      background: url(../../img/Rectangle30.svg);
      background-repeat: no-repeat;
      background-size: 100%;
      z-index: -1;

      @media only screen and (max-width: 767px) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .card {
    box-shadow: 0 1rem 2rem rgba(#000, 0.2);
    transition: all 0.3s;
    height: 20rem;
    border: none;
    border-radius: 1rem;

    &:hover {
      transform: skew(-2deg) translateY(-1rem);
    }

    &__img {
      width: 7rem;
    }
  }
}
