@keyframes moveUp {
  0% {
    transform: translate(0, 0) scale(1) rotate(0);
  }
  20% {
    transform: translate(0, -10rem) scale(1) rotate(0);
  }
  40% {
    transform: translate(0, -10rem) scale(1.4) rotate(45deg);
  }
  60% {
    transform: translate(0, -10rem) scale(1.4) rotate(-45deg);
  }
  80% {
    transform: translate(0, -10rem) scale(1.4) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) scale(1) rotate(0deg);
  }
}
