.heading {
  font-family: $montserrat;
  text-transform: capitalize;

  &-1 {
    font-size: 3.5rem;
  }

  &-2 {
    font-size: 3.2rem;
  }

  &-3 {
    font-size: 3rem;
  }

  &-4 {
    font-size: 2.5rem;
  }

  &-white {
    color: $white;
  }
}

.paragraph {
  font-family: $montserrat;
  color: rgba($ligthBlack, 0.8);

  &-lg {
    font-size: 1.8rem;
  }

  &-md {
    font-size: 1.5rem;
  }

  &-sm {
    font-size: 1.1rem;
    font-weight: 500;
  }
}
