.heading {
  font-family: $montserrat;
  text-transform: capitalize;

  &-1 {
    font-size: 3.2rem;

    @include respond(xl) {
      font-size: 3rem;
    }
  }

  &-2 {
    font-size: 3.2rem;

    @include respond(xl) {
      font-size: 2.8rem;
    }
  }

  &-3 {
    font-size: 3rem;

    @include respond(xl) {
      font-size: 2.4rem;
    }
  }

  &-4 {
    font-size: 2.5rem;

    @include respond(xl) {
      font-size: 2rem;
    }
  }

  &-white {
    color: $white;
    @include respond(xl) {
      font-size: $dark;
    }
  }
}

.paragraph {
  font-family: $montserrat;
  color: rgba($ligthBlack, 0.8);

  @include respond(sm) {
    text-align: center;
  }

  &-lg {
    font-size: 1.8rem;

    @include respond(md) {
      font-size: 1.6rem;
    }
  }

  &-md {
    font-size: 1.5rem;

    @include respond(md) {
      font-size: 1.2rem;
    }
  }

  &-sm {
    font-size: 1.1rem;
    font-weight: 500;

    @include respond(md) {
      font-size: 1rem;
    }
  }
}
