.darkmode {
  @include flex;
  justify-content: center;

  width: 5rem;
  height: 5rem;
  position: fixed;
  font-size: 3.5rem;
  left: 3rem;
  bottom: 3rem;
  background-color: $colorPrimary;
  border-radius: 50%;
  z-index: 20;
  transition: all 0.3s;
  cursor: pointer;
}

// create an animation for dark mode btn
.animatedBtn {
  animation: moveUp 1s ease forwards;
}

// switch to dark mode
.dark {
  filter: invert(1) hue-rotate(180deg);
}

// fixed picturs in dark mode
.nodark {
  filter: invert(1) hue-rotate(180deg);
}
