.link {
  &,
  &:visited,
  &:link {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.6rem;
    display: inline-block;
    padding: 1rem 1.5rem;
    transition: all 0.5s ease;
    border-radius: 1rem;
  }

  i {
    margin-left: 0.5rem;
  }

  &__primary {
    color: $ligthBlack;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid $colorPrimary;
      color: $white;
      background-color: $colorPrimary;
    }
  }

  &__secondary {
    color: $colorPrimary;
    border: 2px solid rgba($colorPrimary, 0.8);

    &:hover {
      border: 2px solid $colorPrimary;
      color: $white;
      background-color: $colorPrimary;
    }
  }

  &__title {
    padding: 0.2rem 0.5rem !important;
    color: $colorPrimary;
    background-color: rgba($colorPrimary, 0.3);
    border-radius: 10rem !important;
    font-size: 0.8rem !important;
    position: absolute;
    top: 5rem;
    text-transform: uppercase !important;

    &-left {
      left: 0;

      @include respond(sm) {
        left: 50%;
        transform: translateX(-50%);
      }
    }
    &-right {
      right: 10rem;

      @include respond(sm) {
        right: 40%;
        transform: translateX(-50%);
      }
    }

    &-center {
      left: 50%;
      top: 0rem;
      transform: translateX(-50%);
    }
  }
}
