.authentication {
  min-height: 100vh;

  &__content {
    &--img {
      @include respond(sm) {
        order: -1;
      }
    }
  }

  &__card--img {
    transform: scale(1.1);
    margin-bottom: 2rem;
  }

  &__card--box {
    padding: 10rem;
    position: relative;
    border: none;

    .card {
      border: 0;
      box-shadow: 0 1rem 2rem rgba($dark, 0.2);
      border-radius: 1rem;
      position: relative;
    }
  }
}
